.howSection {
  background-image: url("/assets/NewWeb/Background/HowToUseBackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.howContainer {
  padding: 50px 20px;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.introText {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 30px;
  color: #fff;
}

/* Flex container for steps */
.stepsContainer {
  column-count: 2;
  column-gap: 30px;
  width: 100%;
  max-width: 1200px; /* Adjust based on your design preference */
  margin: 0 auto;
}

/* Each step card */
.step {
  background-color: rgba(12, 12, 12, 0.9);
  border: 1px solid #715225;
  border-radius: 70px;
  padding: 20px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 30px;
  break-inside: avoid-column;
}

.step p {
  color: #fff;
}

/* Step Header */
.stepHeader {
  font-size: 1.5rem;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

/* Circular number for the steps */
.stepNumber {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: #0c0c0c;
  border: 0.583px solid #eba900;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin-right: 20px;
  flex-shrink: 0;
}

.stepImage {
  width: 100%;
  max-width: 500px;
  margin: 10px 0;
}

.step p {
  font-size: 1rem;
  line-height: 1.6;
}

.step a {
  color: gold;
  text-decoration: none;
  font-weight: bold;
}

.step a:hover {
  text-decoration: underline;
}

/* Responsive adjustments */
@media only screen and (max-width: 1024px) {
  .howContainer {
    padding: 50px 50px;
  }

  .header {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .stepsContainer {
    column-count: 1;
  }

  .howContainer {
    padding: 30px 20px;
  }

  .header {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 480px) {
  .header {
    font-size: 1.5rem;
  }
}
