.communitySection {
  background-image: url("/assets/NewWeb/Background/CommunityBackground.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 100px 0;
}

.communityContainer {
  background-image: url("/assets/NewWeb/Assets/CommunityCardLayer.png");
  background-size: cover; /* Ensures entire image is visible */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 900%;
  max-width: 1440px;
  margin: 0 auto;
  border-radius: 80px;
  border: 1px solid #eba900;
  backdrop-filter: blur(10px);
  height: 541px;
}

.communityContainer::before {
  content: "";
  display: block;
  padding-top: 56.25%; /* 16:9 aspect ratio, adjust to match the aspect ratio of the image */
}

.communityContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  flex-direction: column;
}

.textContent {
  max-width: 60%;
  text-align: center;
}

.textContent h1 {
  font-size: 4rem;
  margin-bottom: 10px;
  font-weight: 700;
}

.textContent p {
  font-size: 1.375rem;
  color: #bcbcc3;
}

@media (max-width: 768px) {
  .communityContent {
    flex-direction: column;
    align-items: center;
  }

  .textContent {
    max-width: 70%;
    text-align: center;
  }

  .textContent h1 {
    font-size: 2.5rem;
  }

  .textContent p {
    font-size: 1rem;
  }
}
