.communitySection {
  background-image: url("/assets/NewWeb/Background/CommunityBackground.png");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.communityContainer {
  background-image: url("/assets/NewWeb/Assets/CommunityCardLayer.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  border-radius: 80px;
  border: 1px solid #eba900;
  backdrop-filter: blur(10px);
  padding: 60px 40px;
}

.communityContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 800px;
}

.communityContent h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.communityContent p {
  font-size: 1.375rem;
  color: #bcbcc3;
  margin-bottom: 30px;
}

.communitySocialButtons {
  margin-top: 30px;
}

.communitySocialButtons a {
  background-color: #eba900;
  margin: 0 10px;
}

@media (max-width: 768px) {
  .communityContainer {
    padding: 40px 20px;
  }

  .communityContent h1 {
    font-size: 2.5rem;
  }

  .communityContent p {
    font-size: 1rem;
  }

  .communitySocialButtons {
    margin-top: 20px;
  }

  .communitySocialButtons a {
    margin: 0 5px;
  }
}
