.faqSection {
  padding: 100px 0;
  background-image: url("/assets/NewWeb/Background/FaqBackground.png");
  background-size: cover;
  background-position: center;
}

.faqContainer {
  display: flex;
  justify-content: space-between; /* Two-column layout */
  align-items: flex-start;
  padding: 50px 100px;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 80px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px); /* Apply blur to the background */
  -webkit-backdrop-filter: blur(10px); /* Support for Safari */
}

.leftContent {
  flex: 1; /* Left side column */
  padding-right: 20px;
}

.rightContent {
  flex: 1; /* Right side column for FAQ questions */
}

.faqHeader {
  text-align: left;
  font-size: 3rem;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

.highlightImage {
  width: 200px;
  margin-bottom: 20px;
}

.paragraph {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  line-height: 170%;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.faqRouletteImage {
  width: 80%; /* Adjust the size of the roulette image */
  max-width: 400px;
}

.faqList {
  width: 100%;
}

.faqItem {
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.faqItem.open {
  background-color: rgba(0, 0, 0, 0.85);
}

.faqItem h3 {
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faqItem h3::after {
  content: "+";
  font-size: 1.5rem;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.faqItem.open h3::after {
  content: "-";
}

.faqItem p {
  opacity: 0;
  height: 0;
  overflow: hidden;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 15px;
  color: #bcbcc3;
  transition: opacity 0.3s ease, height 0.3s ease;
}

.faqItem.open p {
  opacity: 1;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .faqContainer {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .leftContent,
  .rightContent {
    width: 100%;
    padding: 0;
  }

  .faqRouletteImage {
    width: 100%; /* Full-width on mobile */
    max-width: 100%;
    margin-bottom: 20px;
  }
}
