.visionSection {
  background: url("/assets/NewWeb/Background/VisionBackground.png");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  p {
    color: #fff;
  }
}

.visionContainer {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}

.visionContentWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.visionContentWrapper h1 {
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 700;
  color: #fff;
  margin: 0;
  flex: 2;
  text-align: left;
}

.visionContentWrapper .highlight {
  background: linear-gradient(180deg, #eba900 -6.86%, #fff 103.43%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.visionContentWrapper .visionParagraph {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #fff;
  margin: 0;
  flex: 1;
  max-width: 400px;
}

/* Adjustments for mobile view */
.introductionContainer {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.introductionCard {
  background: rgba(217, 217, 217, 0.04);
  border-radius: 48px;
  border: 1px solid #eba900;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.introductionHeader {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}

.introductionIconCircle {
  width: 78px;
  height: 78px;
  background-color: #0c0c0c;
  border: 1px solid #eba900;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.introductionIcon {
  width: 40px;
  height: 40px;
}

.introductionTitle {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
}

.introductionParagraph {
  font-size: 1.25rem;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.7);
}

/* Core Features Section (Desktop) */
.coreFeaturesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  margin: 100px auto;
  text-align: left; /* Keep text alignment left for desktop */
}

.coreFeaturesContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40%; /* Keep this width for desktop */
}

.coreFeaturesLogoWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.coreFeaturesIconCircle {
  width: 78px;
  height: 78px;
  background-color: #0c0c0c;
  border: 1px solid #eba900;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.coreFeaturesIcon {
  width: 48px;
  height: 48px;
}

.coreFeaturesTitle {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}

.coreFeaturesParagraph {
  font-size: 1.25rem;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.7);
  max-width: 600px; /* Ensure width stays consistent on desktop */
  text-align: left;
  margin: 0; /* No center margin for desktop */
}

/* Card Grid (Desktop) */
.featuresGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.featureCard {
  background-color: rgba(12, 12, 12, 0.9);
  border-radius: 20px;
  border: 1px solid #715225;
  padding: 20px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 333px;
  height: 366px;
}

.featureCardHeader {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.featureCardNumber {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #eba900;
  color: #0c0c0c;
  font-weight: bold;
  margin-right: 10px;
}

.featureCardTitle {
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
}

.featureCardParagraph {
  font-size: 1.25rem;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.7);
}

/* Benefits and Cards */
.newCardsAndBenefitsContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 100%;
  margin: 50px auto;
}

/* New Cards */
.newCardsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  max-width: 50%;
  flex: 1;
}

.fullWidthCard {
  grid-column: span 2;
}

.newCard {
  background-color: rgba(12, 12, 12, 0.9);
  border-radius: 20px;
  border: 1px solid #715225;
  padding: 20px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.newCardHeader {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.newCardNumber {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #eba900;
  color: #0c0c0c;
  font-weight: bold;
  margin-right: 10px;
}

.newCardTitle {
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
}

.newCardParagraph {
  font-size: 1.25rem;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.7);
}

/* Potential Benefits Section */
.potentialBenefitsContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  max-width: 50%;
  margin-left: 50px;
}

.potentialBenefitsHeader {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.potentialBenefitsIconCircle {
  width: 78px;
  height: 78px;
  background-color: #0c0c0c;
  border: 1px solid #eba900;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.potentialBenefitsTitle {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  margin: 0;
}

.potentialBenefitsParagraph {
  font-size: 1.25rem;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.7);
}

.conclusionTitle {
  text-decoration-line: underline;
}

.conclusionParagraph {
  color: #fff;
}

/* Responsive adjustments */
@media only screen and (max-width: 768px) {
  .visionContainer {
    padding: 0 100px;
  }

  .visionContentWrapper {
    flex-direction: column;
    text-align: center;
  }

  .visionContentWrapper h1 {
    font-size: 3rem;
  }

  .visionContentWrapper .visionParagraph {
    font-size: 1.1rem;
    margin-top: 20px;
  }

  .coreFeaturesContainer {
    flex-direction: column;
    align-items: center;
    text-align: center; /* Center content only on smaller screens */
    padding: 20px;
  }

  .coreFeaturesContent {
    max-width: 90%; /* Let it take more space on mobile */
    margin-bottom: 20px;
  }

  .coreFeaturesParagraph {
    max-width: 100%; /* Full width on smaller screens */
    margin: 0 auto; /* Center the paragraph */
    text-align: justify; /* Justify text on mobile for better readability */
  }

  .featuresGrid {
    grid-template-columns: 1fr; /* Single column on smaller screens */
    grid-gap: 20px;
  }

  .featureCard {
    width: 100%;
    height: auto; /* Allow the height to adjust to content */
  }

  .newCardsGrid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .potentialBenefitsContent {
    margin-left: 0;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .visionContentWrapper h1 {
    font-size: 1.6rem;
  }

  .visionContentWrapper .visionParagraph {
    font-size: 0.9rem;
  }

  .introductionParagraph {
    font-size: 0.875rem;
  }

  .introductionIconCircle {
    /* width: 50px;
    height: 50px; */
  }

  .coreFeaturesContainer {
    padding: 20px;
  }

  .coreFeaturesContent {
    width: 100%;
  }

  .potentialBenefitsTitle {
    font-size: 1.2rem;
  }

  .newCardParagraph {
    font-size: 1rem;
  }

  .featureCard,
  .newCard {
    width: 100%;
    height: auto;
  }

  .featuresGrid {
    grid-template-columns: 1fr;
  }

  .coreFeaturesTitle,
  .introductionTitle {
    font-size: 1.4rem;
  }

  .introductionCard {
    padding: 15px;
  }

  .coreFeaturesParagraph {
    max-width: 100%; /* Full width on very small screens */
    text-align: justify; /* Justify the text for better mobile readability */
    font-size: 1rem;
  }
}
