.visionSection {
  background: url("/assets/NewWeb/Background/VisionBackground.png");
  background-size: cover;
  background-position: center;
  padding: 12% 0 100px 0;
}

.visionSection p {
  color: #fff;
}

.visionContainer {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}

.visionContentWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.visionContentWrapper h1 {
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 700;
  color: #fff;
  margin: 0;
  flex: 2;
  text-align: left;
}

.visionContentWrapper .highlight {
  background: linear-gradient(180deg, #eba900 -6.86%, #fff 103.43%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.visionContentWrapper .visionParagraph {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #fff;
  margin: 0;
  flex: 1;
  max-width: 400px;
}

/* Introduction Card */
.introductionContainer {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.introductionCard {
  background: rgba(217, 217, 217, 0.04);
  border-radius: 48px;
  border: 1px solid #eba900;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.introductionHeader {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}

.introductionIconCircle {
  width: 78px;
  height: 78px;
  background-color: #0c0c0c;
  border: 1px solid #eba900;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.introductionIcon {
  width: 40px;
  height: 40px;
}

.introductionTitle {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
}

.introductionParagraph {
  font-size: 1.25rem;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.7);
}

/* Core Features Section */
.coreFeaturesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  margin: 100px auto;
  text-align: left;
}

.coreFeaturesContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40%;
}

.coreFeaturesLogoWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.coreFeaturesIconCircle {
  width: 78px;
  height: 78px;
  background-color: #0c0c0c;
  border: 1px solid #eba900;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.coreFeaturesIconCircle,
.potentialBenefitsIconCircle {
  width: 60px;
  height: 60px;
}

.coreFeaturesIcon,
.potentialBenefitsIcon {
  width: 30px;
  height: 30px;
}

.coreFeaturesIcon {
  width: 48px;
  height: 48px;
}

.coreFeaturesTitle {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}

.coreFeaturesParagraph {
  font-size: 1.25rem;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.7);
  max-width: 600px;
  text-align: left;
  margin: 0;
}

/* Card Grid */
.featuresGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.featureCard {
  background-color: rgba(12, 12, 12, 0.9);
  border-radius: 20px;
  border: 1px solid #715225;
  padding: 20px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 333px;
  height: 366px;
}

.featureCardHeader {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.featureCardNumber {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #eba900;
  color: #0c0c0c;
  font-weight: bold;
  margin-right: 10px;
}

.featureCardTitle {
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
}

.featureCardParagraph {
  font-size: 1.25rem;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.7);
}

/* Benefits and Cards */
.newCardsAndBenefitsContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  margin: 50px 0;
}

.potentialBenefitsContent {
  flex: 1;
  max-width: 40%;
}

.potentialBenefitsHeader {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.potentialBenefitsIconCircle {
  width: 78px;
  height: 78px;
  background-color: #0c0c0c;
  border: 1px solid #eba900;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.potentialBenefitsIcon {
  width: 40px;
  height: 40px;
}

.potentialBenefitsTitle {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  margin: 0;
}

.potentialBenefitsParagraph {
  font-size: 1.25rem;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.7);
}

.newCardsGrid {
  flex: 1;
  max-width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.newCard {
  background-color: rgba(12, 12, 12, 0.9);
  border-radius: 20px;
  border: 1px solid #715225;
  padding: 20px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.newCardHeader {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.newCardNumber {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #eba900;
  color: #0c0c0c;
  font-weight: bold;
  margin-right: 10px;
}

.newCardTitle {
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
}

.newCardParagraph {
  font-size: 1.25rem;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.7);
}

.fullWidthCard {
  grid-column: span 2;
}

.conclusionTitle {
  text-decoration-line: underline;
}

.conclusionParagraph {
  color: #fff;
}

/* Responsive adjustments */
@media only screen and (max-width: 1024px) {
  .newCardsAndBenefitsContainer {
    flex-direction: column;
  }

  .potentialBenefitsContent,
  .newCardsGrid {
    max-width: 100%;
  }

  .newCardsGrid,
  .potentialBenefitsContent {
    max-width: 100%;
  }

  .potentialBenefitsContent {
    order: -1; /* This moves the potential benefits above the cards */
  }

  .newCardsGrid {
    grid-template-columns: 1fr;
    order: 2;
  }

  .fullWidthCard {
    grid-column: auto;
  }
}

@media only screen and (max-width: 768px) {
  .visionContentWrapper {
    flex-direction: column;
    text-align: center;
  }

  .visionContentWrapper h1 {
    font-size: 3rem;
  }

  .visionContentWrapper .visionParagraph {
    font-size: 1.1rem;
    margin-top: 20px;
  }

  .coreFeaturesContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .coreFeaturesContent {
    max-width: 90%;
    margin-bottom: 20px;
  }

  .coreFeaturesIconCircle,
  .potentialBenefitsIconCircle,
  .introductionIconCircle {
    width: 60px;
    height: 60px;
  }

  .coreFeaturesIcon,
  .potentialBenefitsIcon,
  .introductionIcon {
    width: 30px;
    height: 30px;
  }

  .coreFeaturesParagraph {
    max-width: 100%;
    margin: 0 auto;
    text-align: justify;
  }

  .featuresGrid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .featureCard {
    width: 100%;
    height: auto;
  }

  .potentialBenefitsTitle {
    font-size: 1.8rem;
  }

  .potentialBenefitsParagraph {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 480px) {
  .visionSection {
    padding: 20% 0 100px 0;
  }

  .visionContentWrapper h1 {
    font-size: 1.6rem;
  }

  .visionContentWrapper .visionParagraph {
    font-size: 0.9rem;
  }

  .introductionParagraph {
    font-size: 0.875rem;
  }

  .coreFeaturesContainer {
    padding: 20px;
  }

  .coreFeaturesContent {
    width: 100%;
  }

  .coreFeaturesTitle,
  .introductionTitle {
    font-size: 1.4rem;
  }

  .coreFeaturesIconCircle,
  .potentialBenefitsIconCircle,
  .introductionIconCircle {
    width: 60px;
    height: 60px;
  }

  .coreFeaturesIcon,
  .potentialBenefitsIcon,
  .introductionIcon {
    width: 25px;
    height: 25px;
  }

  .coreFeaturesTitle,
  .potentialBenefitsTitle {
    font-size: 1.5rem;
  }

  .coreFeaturesParagraph {
    max-width: 100%;
    text-align: justify;
    font-size: 1rem;
  }

  .newCardsAndBenefitsContainer {
    margin: 30px auto;
  }

  .newCardsGrid {
    gap: 20px;
  }

  .featureCard,
  .newCard {
    width: 100%;
    height: auto;
  }

  .potentialBenefitsIconCircle {
    width: 60px;
    height: 60px;
  }

  .potentialBenefitsIcon {
    width: 30px;
    height: 30px;
  }

  .potentialBenefitsTitle {
    font-size: 1.5rem;
  }

  .potentialBenefitsParagraph {
    font-size: 1rem;
  }

  .introductionCard {
    padding: 15px;
  }
}
