.aboutUsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #0f0f0f;
    padding: 60px 0;
    font-family: 'Raleway', sans-serif;
  }
  
  .aboutUsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    max-width: 1440px;
    padding: 0 10%;
    width: 100%;
  }
  
  .rightColumn {
    flex: 1;
    max-width: 500px;
    color: #fff;
  }
  
  .leftColumn {
    flex: 1;
    max-width: 100%;
  }
  
  .leftColumn img {
    width: 100%;
  }
  
  .rightColumn h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
    color: #FFF;
  }
  
  .rightColumn p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 16px;
    color: #BCBCC3;
  }
  
  .rightColumn .highlight {
    display: block;
    width: 100px;
    height: 5px;
    background-color: #e8bc4d;
    margin-bottom: 24px;
  }
  
  /* Add space between About Us and How It Works */
  .aboutUsSection + .howItWorksSection {
    margin-top: 40px;
  }
  
  @media (max-width: 1024px) {
    .aboutUsContainer {
      flex-direction: column;
      text-align: center;
    }
  
    .leftColumn {
      order: -1;
      margin-bottom: 20px;
    }
  
    .leftColumn img {
      width: 80%;
      margin: 0 auto;
    }
  
    .rightColumn {
      max-width: 100%;
    }
  }
  