.aboutUsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 60px 0;
    font-family: 'Raleway', sans-serif;
  }
  
  .aboutUsContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align both columns from the top */
    gap: 100px; /* Increase the gap between the columns */
    max-width: 1440px;
    width: 100%;
    max-height: 670px;
  }
  
  .leftColumn {
    flex: 1;
    max-width: 50%; /* Ensure the left column takes up half the available space */
  }
  
  .leftColumn img {
    width: 100%;
    height: auto; /* Ensure the image maintains its aspect ratio */
    max-height: 100%;
    object-fit: cover; /* Cover the space nicely */
  }
  
  .rightColumn {
    flex: 1;
    max-width: 45%; /* Ensure the right column takes up half the available space */
    color: #fff;
  }
  
  .rightColumn h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 16px;
    color: #FFF;
    text-align: left; /* Align the heading to the left */
  }
  
  .rightColumn p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    line-height: 1.6;
    margin-bottom: 16px;
    color: #BCBCC3;
    text-align: left; /* Align the text to the left */
  }
  
  .rightColumn .highlight {
    display: block;
    width: 100px;
    height: 5px;
    background-color: #e8bc4d;
    margin-bottom: 24px;
  }
  
  /* Ensure the HowItWorks section stays separate */
  .aboutUsSection + .howItWorksSection {
    margin-top: 40px;
  }
  
  @media (max-width: 1024px) {
    .aboutUsContainer {
      flex-direction: column;
      text-align: center;
      align-items: center; /* Center the columns for mobile screens */
      gap: 20px;
    }
  
    .leftColumn {
      max-width: 100%;
      order: -1; /* Place the image above the text on mobile */
      margin-bottom: 20px;
    }
  
    .leftColumn img {
      width: 80%;
      margin: 0 auto;
    }
  
    .rightColumn {
      max-width: 100%;
      text-align: center;
    }
  }
  