.newsletterSection {
  background-color: #070200;
  padding: 40px 0;
}

.newsletterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
}

.newsletterContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  text-align: center;
}

.newsletterLeft {
  flex: 1;
  text-align: left;
}

h2 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 140%; /* 56px */
  margin-bottom: 10px;
}

p {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 170%; /* 34px */
  margin-bottom: 30px;
}

.subscribeButton {
  display: inline-flex;
  height: 81px;
  padding: 20px 68px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: linear-gradient(180deg, #eba900 -6.86%, #fff 103.43%);
  color: black;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
}

.subscribeButton:hover {
  background: linear-gradient(180deg, #fff -6.86%, #eba900 103.43%);
}

@media (max-width: 768px) {
  .newsletterContent {
    flex-direction: column;
    align-items: center;
  }

  .newsletterLeft {
    text-align: center;
  }

  .subscribeButton {
    height: 41px;
    width: 50px;
  }
}
