.carouselContainer {
  width: 100%;
  max-width: 95%;
  position: relative;
  overflow: hidden; /* Hide content outside the container */
}

.cardsContainer {
  display: flex;
  gap: 20px;
  height: 90%;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

.card {
  display: flex;
  align-items: stretch;
  border-radius: 32px;
  overflow: hidden;
  width: 49%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #b99850;
  box-sizing: border-box;
}

.cardImage {
  width: 50%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.cardContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.textContent {
  flex-grow: 1;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #fff;
}

.title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #e8bc4d;
}

.title::after {
  content: "";
  display: block;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
}

p {
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.iconsContainer {
  display: flex;
  gap: 10px;
}

.icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.1);
}

.carouselControls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.arrowButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #e8bc4d;
  padding: 0 10px;
}

.arrowButton:hover {
  transform: scale(1.1);
}

.pageIndicator {
  width: 100px;
  height: 4px;
  background-color: rgba(232, 188, 77, 0.3);
  border-radius: 2px;
  margin: 0 10px;
  overflow: hidden;
}

.pageIndicatorInner {
  height: 100%;
  background-color: #e8bc4d;
  border-radius: 2px;
  transition: width 0.3s ease-in-out;
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.slideLeft {
  animation: slideLeft 0.5s ease-in-out;
}

.slideRight {
  animation: slideRight 0.5s ease-in-out;
}

/* Media query to switch to a single card layout when screen width is smaller */
@media (max-width: 1350px) {
  .card {
    flex-direction: column; /* Stack image and content vertically */
    width: 100%; /* Full width for single card */
    height: auto; /* Adjust height automatically */
  }

  .cardImage {
    width: 100%; /* Image takes full width on small screens */
    height: 300px; /* Set a height for the image */
    object-fit: cover; /* Maintain image aspect ratio */
    border-radius: 10px 10px 0 0;
  }

  .cardContent {
    padding: 10px; /* Adjust padding */
  }

  .textContent {
    height: auto;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.9rem;
  }

  .carouselControls {
    margin-top: 5px;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .iconsContainer {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
    height: auto;
  }

  .textContent {
    height: 100%;
  }

  .textContent p {
    font-size: 1rem;
  }

  .carouselControls {
    margin-top: 5px;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .pageIndicator {
    width: 60px;
  }
}
