.navbarSection {
  font-family: 'Raleway', sans-serif;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 80px;
  padding: 0 230px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.leftContainer {
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
  cursor: pointer;
  color: white;
  margin-right: 20px;
}

.logoLink {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  width: auto;
}

.logoTextLink {
  text-decoration: none;
  color: inherit;
  margin-left: 8px;
  cursor: pointer;
}

.logoText {
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(130deg, #ffffff, #7e5e2c, #e8bc4d);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 500;
  margin-left: 10px;
  line-height: 1.2; /* Add this to control the spacing between lines */
  white-space: pre-line; /* Allows breaking the text into two lines */
}

.logoText span {
  display: block; /* Makes each line a block, forcing a new line */
}

.navCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.navItem {
  display: flex;
}

.navLink {
  color: #FFF;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  display: inline-flex;
  align-items: center;
  transition: color 0.3s ease;
  padding: 4px 15px;
}

.navLink:hover {
  color: #e8bc4d;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navButton {
  background: linear-gradient(180deg, #EBA900 -6.86%, #FFF 103.43%);
  color: #0D0D0C;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 30px;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.navButton:hover {
  filter: brightness(1.2);
}

@media (max-width: 1355px) {
  .hamburger {
    display: block;
  }

  .navCenter {
    display: none;
  }

  .navContent {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 20px;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: rgba(12, 12, 12, 0.9); /* Semi-transparent for the mobile menu */
  }

  .navContent.showMenu {
    display: flex;
  }

  .navLinks {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    margin-top: 10px;
  }

  .navItem {
    margin-bottom: 1rem;
    width: 100%;
  }

  .navLink {
    width: 100%;
    border-bottom: 1px solid #fff;
    padding-bottom: 4px;
  }
}

@media (max-width: 950px) {
  .buttonContainer {
    display: none;
  }

  .buttonLink {
    display: block;
  }
}
