.navbarSection {
  font-family: "Raleway", sans-serif;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 80px;
  padding: 0 11%;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.leftContainer {
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
  cursor: pointer;
  color: white;
  margin-right: 20px;
}

.logoLink {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  width: auto;
}

.logoTextLink {
  text-decoration: none;
  color: inherit;
  margin-left: 8px;
  cursor: pointer;
}

.logoText {
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  white-space: pre-line;

  /* Gradient */
  background: linear-gradient(
    130deg,
    #e3a455 0%,
    #f6dba6 12.5%,
    #ffebc3 25%,
    #f0be79 37.5%,
    #8f653b 50%,
    #673d22 62.5%,
    #ba7f3b 75%,
    #eebc70 87.5%,
    #3f1f0f 100%
  );

  background-clip: text;
  -webkit-background-clip: text; /* For Safari */
  color: transparent; /* Hide the original text color */
}

.logoText span {
  display: block; /* Makes each line a block, forcing a new line */
}

.navCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.navItem {
  display: flex;
}

.navLink {
  color: #fff;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  display: inline-flex;
  align-items: center;
  transition: color 0.3s ease;
  padding: 4px 15px;
}

.navLink:hover {
  color: #e8bc4d;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navButton {
  background: linear-gradient(180deg, #eba900 -6.86%, #fff 103.43%);
  color: #0d0d0c;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 30px;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.navButton:hover {
  filter: brightness(1.2);
}

@media (max-width: 1355px) {
  .navbar {
    display: flex;
    justify-content: flex-start;
    padding: 0 20px; /* Reduce padding to fit smaller screens */
  }

  .leftContainer {
    display: flex;
    justify-content: flex-start; /* Align everything to the left */
    width: 100%; /* Allow full width */
    padding-left: 0; /* Remove extra padding */
    margin: 0; /* Remove any margin that may cause shifting */
    gap: 10px; /* Add space between hamburger and logo */
  }

  .hamburger {
    display: block; /* Show hamburger on mobile */
    margin-right: 10px; /* Add space between hamburger and logo */
  }

  .logoLink {
    display: flex;
    align-items: center;
  }

  .logo {
    height: 40px; /* Adjust logo size if necessary */
    width: auto;
  }

  .logoTextLink {
    margin-left: 0; /* Remove left margin for better alignment */
  }

  .navCenter {
    display: none; /* Hide the central navigation on mobile */
  }

  .navCenter.showMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-height: none;
    padding-bottom: 20px;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: #0c0c0c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 0 5%;
    animation: slideDown 0.3s ease-out forwards;
  }

  .navCenter.showMenu .navLink:hover {
    color: white;
    background-color: transparent;
  }

  .navLinks {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    margin-top: 10px;
  }

  .navItem {
    margin-bottom: 1rem;
    width: 100%;
  }

  .navLink {
    width: 100%;
    border-bottom: 1px solid #fff;
    padding-bottom: 4px;
  }

  .buttonContainer {
    display: none; /* Hide the whitepaper button on mobile */
  }
}

@media (max-width: 950px) {
  .buttonContainer {
    display: none;
  }
}
