.partnersSection {
  padding-top: 40px;
  display: flex;
  justify-content: center; /* Center the container */
}

.partnersContainer {
  display: inline-flex;
  padding: 16px 40px;
  align-items: center;
  gap: 32px;
  border-radius: 41px; /* Apply the rounded corners */
  border: 1px solid #eba900; /* Keep the border */
  background: rgba(38, 32, 20, 0.9); /* Fill color #262014 with 20% opacity */
  max-width: 100%; /* Ensure the container doesn't exceed the width */
  margin: 0 auto; /* Center the content horizontally */
}

.partnerLink {
  display: flex;
  align-items: center;
  justify-content: center;
}

.partnerIcon {
  height: 60px; /* Adjust size */
  width: auto;
  transition: transform 0.3s ease;
}

.partnerIcon:hover {
  transform: scale(1.1);
}

/* Media Queries */
@media (max-width: 1026px) {
  .partnersContainer {
    padding: 12px 24px;
    gap: 20px;
  }

  .partnerIcon {
    height: 50px; /* Adjust size for smaller screens */
  }
}

@media (max-width: 768px) {
  .partnersContainer {
    padding: 8px 16px;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .partnerIcon {
    height: 40px; /* Further reduce size on smaller screens */
  }
}

@media (max-width: 480px) {
  .partnersContainer {
    padding: 4px 12px; /* Reduce padding for very small screens */
    gap: 8px; /* Smaller gap for icons */
  }

  .partnerIcon {
    height: 30px; /* Minimize icon size */
  }
}
