.cardsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    gap: 10px;
    flex-wrap: wrap;

    .card {
        background-image: url('/assets/PNG/HOMEPAGE/Images/team sec.png');
        background-size: cover;
        border-radius: 10px;
        overflow: hidden;
        width: 290px;
        margin-bottom: 20px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        border: 2px solid #b99850;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    .cardImage {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        margin: 20px auto 10px;
        display: block;
        flex-shrink: 0;
    }

    .cardContent {
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
    }

    .textContent {
        flex-grow: 1;
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 5px;
    }

    .title {
        background-clip: text;
        color: transparent;
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 10px;
    }

    .iconsContainer {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: auto;
    }

    .icon {
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .icon:hover {
        transform: scale(1.2);
    }
}

@media (max-width: 768px) {
    .cardsContainer {
        flex-direction: column;
        align-items: center;
    }
}