html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* Prevent horizontal scrolling */
  overflow-x: hidden;
  /* Allow vertical scrolling */
  overflow-y: auto;
  background-image: url("/assets/NewWeb/Background/Background1.png");
  background-size: cover;
  font-family: "Raleway", sans-serif;
  color: white;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

header {
  top: 0;
  z-index: 1000;
  position: sticky;
  display: block;
}
